<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a2d84af-1dcf-4b87-ad89-1fd9466f90c6" Alias="Test person" Level="101">
  <Info>
    <Parent Key="0f582a79-1e41-4cf0-bfa0-76340651891a">Recycle Bin</Parent>
    <Path>/RecycleBin/TestPerson</Path>
    <Trashed Parent="e8ad9b65-cff6-4952-ac5b-efe56a60db62">true</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2026-09-09T08:39:07</CreateDate>
    <NodeName Default="Test person" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <department>
      <Value><![CDATA[]]></Value>
    </department>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <photo>
      <Value><![CDATA[]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value><![CDATA[]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>